
.header-index {
    height: 65vh;
    background-color: #F0F0F0;
}

.section-index {
    height: 25vh;
}

.header {
    height: 20vh;
}

.main {
    height: 70vh;
}

.main-container {
    height: 70%;
}

/* Ver sombra: active + focus */
.button {
    width: 16em;
    border-radius: 7px;
    padding: 0.7em;
}

.button-sm {
    width: 4em;
    border-radius: 7px;
    padding: 0.7em;
}

.button-continue {
    width: 15em;
    border-radius: 7px;
}

.footer-container {
    background-color: #F0F0F0;
    bottom: 0;
}














